<header>
  <mat-toolbar class="bg-blue-500 text-white flex justify-between items-center px-4">
    <div class="flex items-center gap-2">
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-lg font-semibold">Emp</span>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>

<mat-drawer-container > <!-- assuming toolbar height is 64px -->
  <mat-drawer #drawer class="w-[360px] bg-red shadow" [mode]="'side'" [opened]="true" >
    <div class="p-4">
      <p class="font-medium">Drawer content</p>
    </div>
  </mat-drawer>

  <mat-drawer-content class="">
    <main class="min-h-screen bg-red-500" style="background-color: rgb(114, 109, 119);">
       Main content here
      <p class="text-gray-700">Welcome to your dashboard!</p>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<footer class="bg-blue-500 text-white text-center py-4">
  &copy; 2025 Your Company
</footer>
